{{define "title"}}Create a New Snippet{{end}}

{{define "main"}}
    <form action='/snippet/create' method='POST' class="max-w-2xl mx-auto">
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        <div class="mb-6">
            <label class="block mb-2">Title:  </label>
            {{with .Form.FieldErrors.title}}
                <label class="text-[#C0392B] font-bold block mb-2">{{.}}</label>
            {{end}}
            <input type='text' name='title' value='{{.Form.Title}}'
                   class="w-full p-3 border border-[#E4E5E7] rounded text-[#6A6C6F]">
        </div>
        <div class="mb-6">
            <label class="block mb-2">Content:</label>
            {{range $field, $errors := .Form.FieldErrors}}
                {{if eq $field "content"}}
                    {{range $errors}}
                        <label class="text-[#C0392B] font-bold block mb-2">{{.}}</label>
                    {{end}}
                {{end}}
            {{end}}
            <textarea name='content'
                      class="w-full p-[18px] h-[266px] border border-[#E4E5E7] rounded text-[#6A6C6F]">{{.Form.Content}}</textarea>
        </div>
        <div class="mb-6">
            <label class="block mb-2">Delete in:</label>
            {{with .Form.FieldErrors.expires}}
                <label class="text-[#C0392B] font-bold block mb-2">{{.}}</label>
            {{end}}
            <div class="space-x-4">
                <input type='radio' name='expires' value='1' {{if (eq .Form.Expires 1)}}checked{{end}}
                       class="ml-[18px]"> <span class="text-[#6A6C6F]">One Day</span>
                <input type='radio' name='expires' value='7' {{if (eq .Form.Expires 7)}}checked{{end}}
                       class="ml-[18px]"> <span class="text-[#6A6C6F]">One Week</span>
                <input type='radio' name='expires' value='365' {{if (eq .Form.Expires 365)}}checked{{end}}
                       class="ml-[18px]"> <span class="text-[#6A6C6F]">One Year</span>
            </div>
        </div>
        <div class="mt-6">
            <input type='submit' value='Publish snippet'
                   class="bg-[#62CB31] text-black px-7 py-4 rounded font-bold hover:bg-[#4EB722] cursor-pointer">
        </div>
    </form>
{{end}}