{{define "title"}}Create a New Snippet{{end}}

{{define "main"}}
    <form action='/snippet/create' method='POST' class="max-w-2xl mx-auto">
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        <div class="mb-6">
            <label class="block mb-2">Title:</label>
            {{with .Form.Errors.title}}
                <label class="text-red-600 font-bold block mb-2">{{.}}</label>
            {{end}}
            <input type='text' name='title' value='{{.Form.Title}}'
                   class="w-full p-3 border border-gray-200 rounded text-gray-600">
        </div>
        <div class="mb-6">
            <label class="block mb-2">Content:</label>
            {{with .Form.Errors.content}}
                <label class="text-red-600 font-bold block mb-2">{{.}}</label>
            {{end}}
            <textarea name='content'
                      class="w-full p-4 h-64 border border-gray-200 rounded text-gray-600">{{.Form.Content}}</textarea>
        </div>
        <div class="mb-6">
            <label class="block mb-2">Delete in:</label>
            {{with .Form.Errors.expires_at}}
                <label class="text-red-600 font-bold block mb-2">{{.}}</label>
            {{end}}
            <div class="space-x-4">
                <input type='radio' name='expires_at' value='0' {{if (eq .Form.ExpiresAt 0)}}checked{{end}}>
                <span class="text-gray-600">Never</span>
                <input type='radio' name='expires_at' value='1' {{if (eq .Form.ExpiresAt 1)}}checked{{end}}>
                <span class="text-gray-600">One Day</span>
                <input type='radio' name='expires_at' value='7' {{if (eq .Form.ExpiresAt 7)}}checked{{end}}>
                <span class="text-gray-600">One Week</span>
                <input type='radio' name='expires_at' value='365' {{if (eq .Form.ExpiresAt 365)}}checked{{end}}>
                <span class="text-gray-600">One Year</span>
            </div>
        </div>
        <div class="mt-6">
            <input type='submit' value='Publish snippet'
                   class="bg-emerald-500 text-white px-6 py-3 rounded font-bold hover:bg-emerald-600 transition-colors cursor-pointer">
        </div>
    </form>
{{end}}
